 
/* multiple selector */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
     font-family: "Work Sans", sans-serif;
     font-optical-sizing: auto;
}

#failure, #myplan{
    margin-top: 130px;
}

/* main style */

.hero{
    width: 100%;
    min-height: 100vh;
     background: url(images/banner/banner1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    padding-right: 230px;

}
.hero-container{
    width: 100%;
    max-width: 1140px;
    margin: 0px auto;
    padding: 0px 20px;
    display: flex;
    justify-content: flex-end;
}
.hero-content{
  max-width: 525px;
  text-align: right;
}

.hero-content h1{
    font-size: 65px;
    font-weight: bold;
    color: #151414;
    margin-bottom: 24px;
}

.hero-content p{
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 32px;
}

.hero-content .btn{
    padding: 21px 25px;
    background-color: #F15B22;
    color:#ffffff;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero-content .btn:hover{
    padding: 21px 25px;
    background-color: #ffffff;
    color:#f15b22;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid #F15B22;
    border-radius: 5px;
    cursor: pointer;
}


.failure-container{
    max-width: 1072px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 87px;
}

.failure-content{
    max-width: 416px;
    margin-top: 0;
}
.failure-content h2{
    font-size: 40px;
    font-weight: bold;
    color: #151414;
    margin-bottom: 24px;
}

.failure-content p{
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 16px;
}

.failure-content ul {
    list-style-type: none;
}

.failure-content ul li{
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 8px;
}

.failure-content ul li i{
    color: #16d887;
}

.plan-container {
    max-width: 1141px;
    margin: 0 auto;
}
.plan-list-box{
    text-align: center;
}
.plan-list-box h2{
    font-size: 40px;
    font-weight: bold;
    color: #151414;
    margin-bottom: 55px;
}
.skill-card-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill-card img{
    height: 92px;
    width: 92px;
    margin-bottom: 18px;
}

.skill-card h3{
    font-size: 30px;
    font-weight: bold;
    color:#151414;
    margin-bottom: 16px;
}

.skill-card p{
    font-size: 25px;
    font-weight: 500;
    color: #737272;

}

.photo-box{
    width: 1141px;
    height: 300px;
    margin: 130px auto;
    border-radius: 12px;
    position: relative;
    overflow: hidden;

    background-image:    
         url(images/gradient2.png),
         url(images/watch.png);

    background-size:
     cover, cover;

    background-repeat: 
    no-repeat,
    no-repeat; 

    background-position: 
    center, right center;   
    

}
.photo-content{
    position: relative;
    max-width: 559px;
    padding: 60px;
    color: #ffffff;
    z-index: 2;
}


.photo-box h2{
    font-size: 40px;
    font-weight: bold;
    color:#ffffff;
    margin-bottom: 24px;
}
.photo-box button{
    font-size: 20px;
    font-weight: 600;
    color: #F15B22;
    background-color: #ffffff;
    padding: 21px 36px;
    border: none;
    border-radius: 5px;
}

.media-container{
    width: 100%;
    background-color:#151414;
    padding: 130px 0px ;
}

.media-box{
     width: 1141px;
     display: flex;
     justify-content: space-between;
     margin: 0px auto;
}

.media-box .future{
    max-width: 485px;
}
.media-box .future h2{
    font-size: 45px;
    font-weight: bold;
    color:#ffffff;
    margin-bottom: 16px;
}

.media-box .future .text{
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    margin-bottom: 24px;
}
.media-box .future .info{
    font-size: 16px;
    margin-bottom: 16px;
    color: #ffffff;
}
.media-box .future .img{
    display: flex;
    gap:18px;
}
.media-box .future img{
    height: 46px;
    width: 46px;
    margin-bottom: 16px;
}
.media-box .subscribe{
    max-width: 325px;
}

.media-box .subscribe h3{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 31px;
    color: #ffffff;
}

.media-box .subscribe input{
    width: 100%;
    padding: 21px 0px 21px 21px;
    font-size: 18px;
    background-color:#151414;
    color: #ffffff;
    border: 2px solid #f3f3f3;
    border-radius: 8px;
    margin-bottom: 16px;
}
.media-box .subscribe input::placeholder{
    color: #f3f3f3;
}
.media-box .subscribe button{
    color: #F15B22;
    background-color: #ffffff;
    font-size:20px;
    font-weight: 600;
    padding:20px 36px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.media-box .subscribe button:hover{
     color: #ffffff;
    background-color: #f15b22;
    font-size:20px;
    font-weight: 600;
    padding:20px 36px;
    border: 1px solid #F15B22;
    border-radius: 8px;
}