*{
    margin:0;
    padding: 0;
}
body{
     font-family: "Work Sans", sans-serif;
     font-optical-sizing: auto;
}
.hero{
    width: 1600px;
    height: 100vh;
    margin: 0 auto;
     background: url(images/banner/banner1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 230px;

}

.hero-content{
  max-width: 525px;
  text-align: end;
}

.hero-content h1{
    font-size: 65px;
    font-weight: bold;
    color: #151414;
    margin-bottom: 24px;
}

.hero-content p{
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 32px;
}

.hero-content .btn{
    padding: 21px 25px;
    background-color: #F15B22;
    color:#ffffff;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#failure{
    margin-top: 131px;
}

.failure-container{
    max-width: 1072px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 87px;
}

.failure-content{
    max-width: 416px;
    margin-top: 240px;
}
.failure-content h2{
    font-size: 40px;
    font-weight: bold;
    color: #151414;
    margin-bottom: 24px;
}

.failure-content p{
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 16px;
}

.failure-content ul {
    list-style-type: none;
}

.failure-content ul li{
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 8px;
}

.failure-content ul li i{
    color: #16d887;
}